python-dotenv
numpy
pandas
matplotlib
scikit-learn
pymongo
pymongo[srv]
xgboost
certifi
scipy
pyaml
mlflow
dagshub
huggingface_hub
fastapi
uvicorn
python-multipart
jinja2
streamlit
shap
plotly
seaborn
#-e .